.app-tabs__tab {
  font-size: 0.8125rem;
  font-weight: 400;
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  &:first-child {
    border-radius: 2px 0 0 2px;
  }
  &:last-child {
    border-radius: 0 2px 2px 0;
  }
}

.app-tabs__tab--active {
  background-color: var(--grey-super-light);
}
