.favorite-checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.favorite-checkbox .favorite-checkbox__star {
	transition: all .25s ease-out;
}

.favorite-checkbox__input:focus
	+ .favorite-checkbox__icon
	.favorite-checkbox__star {
	stroke: var(--yellow);
}

.favorite-checkbox__input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.favorite-checkbox:hover .favorite-checkbox__star {
	stroke: var(--yellow)
}

.favorite-checkbox__input:checked
	+ .favorite-checkbox__icon
	.favorite-checkbox__star {
	fill: currentColor;
}

.favorite-checkbox__icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
}
