<app-header title="Создание города" />
<main class="app-main">
  <a class="main-content__back-link" routerLink="/">Назад</a>
  <form class="add-city-form" [formGroup]="cityForm" (ngSubmit)="onSubmit()">
    <div class="add-city-form__field">
      <label class="add-city-form__label" for="name">Название города</label>
      <input
        class="add-city-form__input"
        id="name"
        type="text"
        formControlName="name"
      />
      @if (cityForm.controls['name'].dirty &&
      cityForm.controls['name'].hasError('required')) {
      <small>Введите название</small>
      }
    </div>
    <div class="add-city-form__field">
      <label class="add-city-form__label" for="description"
        >Описание города</label
      >
      <textarea
        class="add-city-form__input"
        rows="4"
        formControlName="description"
        id="description"
      ></textarea>
      @if (cityForm.controls['description'].dirty &&
      cityForm.controls['description'].hasError('required')) {
      <small>Введите описание</small>
      }
    </div>
    <div class="add-city-form__field">
      <label class="add-city-form__label" for="image">Ссылка на картинку</label>
      <input
        class="add-city-form__input"
        id="image"
        type="url"
        formControlName="image"
      />
      @if (cityForm.controls['image'].dirty &&
      cityForm.controls['image'].hasError('required')) {
      <small>Введите ссылку</small>
      } @if (cityForm.controls['image'].hasError('pattern')) {
      <small>Введите корректную ссылку</small>
      }
    </div>
    <button class="add-city-form__submit-button" type="submit">Создать</button>
  </form>
</main>
